In [2]:
import tensorflow
import numpy as np
import pandas as pd
arr = {
    'age': [22,25,47,52,46,56,55,60,62,61,18,28,27,29,49],
    'insurance' : [0,0,1,0,1,1,0,1,1,1,0,0,0,0,1]
}
arr

{'age': [22, 25, 47, 52, 46, 56, 55, 60, 62, 61, 18, 28, 27, 29, 49],
 'insurance': [0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1]}

In [3]:
df = pd.DataFrame(arr)

In [4]:
df

    age  insurance
0    22          0
1    25          0
2    47          1
3    52          0
4    46          1
5    56          1
6    55          0
7    60          1
8    62          1
9    61          1
10   18          0
11   28          0
12   27          0
13   29          0
14   49          1

In [7]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(df[['age']],df['insurance'])

LogisticRegression()

In [10]:
model.predict([[44]])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [11]:
import pickle
with open('Age and Insurance','wb')as f:
    pickle.dump(model,f)